nav
{
    background-color: darkcyan;
    
}
#first
{
    background-color: #BDE7FA;
   width: 50%;
   height: 200px;
   text-align: center;

}
#second
{
    background-color: #D3F0FD;
    text-align: center;
}
table
{
    width: 100%;
}
#third
{
    text-align: center;    
    background-color: #D3F0FD;
    height: 200px;
}
#fourth
{
    text-align: center;    
    background-color:#E5F7FF;    
}