nav
{
    background-color: darkcyan;
}
#first
{
    background-color: #BDE7FA;
   width: 50%;
   height: 200px;
   text-align: center;

}

table
{
    width: 80%;
}
#second
{
    text-align: center;    
    background-color: #D3F0FD;
    height: 200px;
    vertical-align:sub;

}

#third
{
    text-align: center;    
    background-color: #E5F7FF;
    height: 200px;

}
h2
{
color: #36211B;
font-weight: 300;

}
main
{
    background-color: #F4FBFA;
}
textarea
{
    width: 80%;
    height: 50%;
}
header
{
    background-color: #1FCECB;
}